<!DOCTYPE html>
<html>

<head>
  <title>MNote editor</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://golden-layout.com/files/latest/js/goldenlayout.min.js"></script>
  <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-base.css" />
  <link type="text/css" rel="stylesheet"
    href="https://golden-layout.com/files/latest/css/goldenlayout-dark-theme.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/editor.css') }}" />
</head>

<body>
  <div id="layout-container"></div>
  <script src="{{ url_for('static', filename = 'js/editor.js') }}"></script>
</body>





</html>